:root {
  --background: #ffffff;
  --foreground: #3d3d3d;

  /* Colors */
  --color-primary: #feea39;
  --color-secondary: #fefcc3;
  --color-accent-1: #ebc107;
  --color-accent-2: #fbda14;
  --color-neutral-dark: #1c1c1c;
  --color-neutral-medium-dark: #5d5d5d;
  --color-neutral-medium-light: #b0b0b0;
  --color-neutral-light: #888888;
  --color-background-light: #fefcc3;
  --color-white: #ffffff;
  --color-rich-brown: #724511;
  --color-lightgray: #f6f6f6;

  /* Fonts */
  --font-primary: "Clash Display";
  --font-secondary: "Helvetice Now Display";
  --font-tertiary: var(--font-tertiary);

  /* Font Sizes */
  --font-size-tiny: 12px;
  --font-size-small-body: 14px;
  --font-size-body: 16px;
  --font-size-body-large: 20px;
  --font-size-subheading: 24px;
  --font-size-heading: 40px;
  --font-size-large-heading: 48px;
  --font-size-extra-large: 64px;

  /* Line Heights */
  --line-height-tiny: 16px;
  --line-height-small-body: 20px;
  --line-height-body: 24px;
  --line-height-body-large: 28px;
  --line-height-subheading: 32px;
  --line-height-heading: 46px;
  --line-height-large: 54px;
  --line-height-extra-large: 72px;
}
