@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("./fonts/clash-display/css/clash-display.css");
  @import url("./fonts/Helvetica Now Display/helvetice-now-display.css");

  /* Partials */
  @import url("partials/variables.css");
  @import url("partials/resets.css");
}
@layer components {
  .container {
    @apply mx-auto px-5;
    max-width: 1168px;
  }
  h1 {
    @apply font-clashdisplay font-semibold text-largeHeading md:text-extraLarge leading-large md:leading-extraLarge text-balance;
  }
  h2 {
    @apply font-clashdisplay font-semibold text-largeHeading leading-large text-balance;
  }
  h3 {
    @apply font-clashdisplay font-semibold text-heading leading-heading text-balance;
  }
  p {
    @apply font-helvetice text-body leading-body;
  }
  label {
    @apply font-manrope font-bold text-body leading-body text-foreground;
  }
}
.slick-prev {
  left: 0.5rem !important;
  z-index: 1 !important;
  transform: scale(1.5) !important;
}
.slick-next {
  right: 0.5rem !important;
  transform: scale(1.5) !important;
}
.slick-prev::before {
  color: var(--color-accent-2) !important;
}
.slick-next::before {
  color: var(--color-accent-2) !important;
}

/* Define the animation keyframes for zooming in and out */
@keyframes zoomInOut {
  0% {
    background-image: url("/assets/images/hero/hero.webp");
    background-size: 100% 100%;
  }
  50% {
    background-image: url("/assets/images/hero/hero2.webp");
    background-size: 150% 150%;
  }
  100% {
    background-image: url("/assets/images/hero/hero.webp");
    background-size: 100% 100%;
  }
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  animation: zoomInOut 10s infinite;
  transition: background-size 5s, background-image 5s;
  animation-iteration-count: infinite;
}
